@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto';
}

.bg-gradient-navy {
    background: linear-gradient(180deg, #343C53 0%, #0E1731 100%);
}

.bg-gradient-lightblue {
    background: linear-gradient(142deg, #CCD9FF 14.61%, #6F85C6 49.77%, #343C53 84.94%);
}

.bg-gradient-orange {
    background: linear-gradient(180deg, #DDE0E9 0%, #F25F5F 50%, #36446A 100%);
}

/* CSS untuk menghilangkan scrollbar */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.transition-left {
    transition: left 0.8s ease-in-out;
}

.transition {
    transition: all 0.8s ease-in-out;
}

.pagination {
    justify-content: space-between;
}

.pagination .page-item .page-link {
    color: #F25E5E; /* Warna teks tombol pagination */
    background-color: #FFFFFF; /* Warna latar belakang tombol pagination */
    border: 1px solid #F25E5E; /* Warna border tombol pagination */
}

.pagination .page-item.active .page-link {
    color: #FFFFFF; /* Warna teks tombol aktif */
    background-color: #F25E5E; /* Warna latar belakang tombol aktif */
    border: 1px solid #F25E5E; /* Warna border tombol aktif */
}

.pagination .page-item .page-link:hover {
    color: #FFFFFF; /* Warna teks tombol saat hover */
    background-color: #F25E5E; /* Warna latar belakang tombol saat hover */
    border-color: #F25E5E; /* Warna border tombol saat hover */
}
